
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


header{

        width: 100%;
        height: 500px;
        background-color: #175E55;
        background-image:url("image/tree.png");
        background-repeat: no-repeat;
        background-size: 460px 460px;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        flex-direction: column;
        box-shadow: 0 0 20px rgba(0,0,0,.2);
}
nav{
    width: 800px;
    margin: 0 auto;
    

}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

nav a{
    text-decoration: none;
    font-size: 20px;
    margin: 12px;
    padding: 5px;
    color:#ffffff;

}

nav .active{
    color: #175E55;
    background-color: #FFFFFF;
    border-radius: 5px;
}
nav a:hover{
    background-color: #ffffff;
    color: #3dd0ac;
    border-radius: 5px;
    text-decoration: underline;
    
}

nav ul {
    list-style: none;
}

.titre{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 350px;
    font-size: 45px;
    color: #ffffff;
}
section{
    max-width: 760px;
    padding: 10px;
    margin: auto;
}
section h1{
    font-size: 45px;
    letter-spacing: 4px;
    color: grey;
}
section p{
    margin-top: 10px;
    margin-bottom: 10px;

}
.Accueil{
    width: 760px;
    padding: 10px;
    margin: auto;

}
.Accueil h1{
    font-size: 40px;
    text-align: center;
}
.Accueil p {
    text-align: justify;
    margin-top:  10px;
    margin-bottom: 10px;
}

.histoire h1{
font-size: 45px;
letter-spacing: 4px;
text-align: center;
}

.histoire p{
    text-align: center;
    text-align: justify;
}

.plan{
    display: grid;
    place-items: center;
    margin: auto;
}


.img{
    display: grid;
    place-items: center;
}
.contact{
    margin: auto;
}
.contact h1{
    text-align: center;


}


footer {
    background-color: #175E55;
    padding: 10px;
    top: 40px;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    text-align: center;
}

footer p{
    color:#ffffff;
}
footer a{
    color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    header {
        background-color: #535252;
        background-image: url(/image/Logo\ noire.png);
        
    }
    .titre {
        color : #333;
    }
    nav .active{
        color: #ffffff;
        background-color: #333;
    }

    nav a:hover {
        color: #ffffff;
        background-color: #333;
        border-radius: 5px;
        text-decoration: underline;
    }
    body {
      background-color: #333; /* Fond sombre */
      color: #fff; /* Texte clair */

    }
    section a{
        color: rgb(255, 0, 0);
        text-decoration: none;
    }
    footer {
        background-color: #535252;
    }


  }